 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h5 class="logo mr-auto"><a href="/bienvenidos">Farmaceutica la Javeriana</a></h5>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="farmaceutica/despachos">Mis Despachos</a></li>
          <li><a href="farmaceutica/historial-despachos">Historial despachos</a></li>
          <li><a href="farmaceutica/ordenes-compra">Ordenes de compra</a></li>
          </ul>
      </nav><!-- .nav-menu -->
      <a href="" class="appointment-btn scrollto">Cerrar sesión</a>

    </div>
  </header><!-- End Header -->