<h4>Ordenes de comparas por ofertar</h4>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Orden</th>
        <th>Clinete</th>
        <th>Cantidad de productos</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>Oscar</td>
        <td>4 cajas delicadas</td>
        <td>Finalizada</td>
        <td></td>
      </tr>
      <tr>
        <th>2</th>
        <td>Jacob</td>
        <td>5 cajas</td>
        <td>Aporbada</td>
        <td></td>
      </tr>
      <tr>
        <th>3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>Ingreso</td>
        <td></td>
      </tr>
    </tbody>
  </table>